<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rejection Claim Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="page-wrapper">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">

    <div class="form-container">
      <!-- <div class="progress-bar">
        <span>0% Completed</span>
        <span style="float: right;">Fields Completed 0 / 4</span>
      </div> -->

      <h1>Rejection Claim Submission Form</h2>

    <form method="POST" action="/submit">
      <label>From *</label>
      <input type="text" name="from" required>
      <p class="placeholders">Enter Pharmacy Name</p>

      <label>Key *</label>
      <input type="text" name="key" required>
      <p class="placeholders">Enter CoverMyMeds key here</p>

      <label>Rejection Claim *</label>
      <textarea name="rejection_claim" required></textarea>
      <p class="placeholders">Copy/Paste Rejection claim page</p>

      <label>Medication *</label>
      <input type="text" id="medication-input" name="medication" autocomplete="off" required>
      <p class="placeholders">Start typing medication name</p>

      <div id="icd10-buttons" class="icd10-button-group"></div>

      <label>ICD-10 Code *</label>
      <input type="text" id="icd10-code" name="icd_code" required>
      <p class="placeholders">Click a button above or enter manually (e.g. L27.8)</p>
      <label>ICD-10 Description</label>
      <textarea id="icd10-desc" name="icd_description" readonly></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
